.home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  margin: 0 auto;
  background-image: linear-gradient(rgba(34, 34, 34, 0.8),
      rgba(34, 34, 34, 0.8)),
    url(hero-img\(1\).jpg);
  background-size: cover;
  min-height: 100vh;
  color: white;
  z-index: 1;
}

.header-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: start;
  align-items: center;
}

.header-container-inner {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 11px;
}

.header-container-inner h1 {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -0.5px;
  margin-bottom: 2.4rem;
  text-align: center;
}

.header-container-inner p {
  font-size: 1.2rem;
  margin-bottom: 3.2rem;
  text-align: center;
  line-height: 1.7;
}

.btn {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.2rem 2rem;
  border: 3.5px solid rgba(255, 228, 196, 0.715);
  border-radius: 40px;
  color: white;
  background: none;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background: #ffe4c4b3;
}

@media (max-width: 700px) {
  .header-container-inner h1 {
    font-size: 2rem;
  }

  .header-container-inner p {
    font-size: 13px;
  }

  .btn {
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem 1.6rem;
  }
}